<div class="container mt-5">
  <div class="col-md-10 col-lg-8 py-4 mx-auto quit-confirm">
    <h5 class="font-weight-bold m-0">退会につきまして</h5>
    <p class="text-danger font-weight-bold m-0">BookShareを退会すると、同じアカウントは使用できなくなります。</p>
    <p class="text-dark m-0">退会される場合は、以下の「退会する」をクリックしてください。</p>
  </div>
  <%= link_to '< 戻る', user_path(@user), class: 'btn btn-block col-4 col-md-2 col-lg-1 offset-md-1 offset-lg-2 mt-2 quit-confirm-btn' %>
  <%= link_to '退会する', user_quit_path(@user), method: :patch, class: 'btn btn-danger btn-block col-md-4 mx-auto mt-4' %>
</div>