<div class="container mx-auto mt-5">
  <h3 class="text-center">お問い合わせいただき、ありがとうございました</h3>
  <p class="text-center">折り返し、担当者よりご連絡いたしますので、<br>
                          恐れ入りますが、しばらくお待ちください。
  </p>
</div>
