<div class="row">
  <div class="col-6 col-md-4 text-center">
    <%= link_to user_path(user) do %>
      <%= attachment_image_tag user, :profile_image, fallback: "no_image.png", size:'60x40', class: 'mt-2' %>
      <p class="pb-0 mb-0 text-center small"><%= user.nickname %>さんの<%= title %></p>
    <% end %>
  </div>
</div>