<div class="container mt-5">
  <div class="col-md-10 col-lg-8 mx-auto contact">
    <div class="row">
        <div class="col-4">
          <p>お名前</p>
          <p>メールアドレス</p>
          <p>お問い合わせ内容</p>
        </div>
        <div class="col-8">
          <p><%= @contact.name %></p>
          <p><%= @contact.email %></p>
          <p><%= @contact.content %></p>
      </div>
  </div>
</div>