/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


* {
  font-family: "メイリオ",meiryo,Arial,Helvetica;
}

a {
  color: #0066c0;
}

li {
  list-style: none;
}

.logo_name {
  font-family: 'Pacifico', cursive;
}

.login-msg {
  font-style: italic;
}



.card-header-register {
  font-weight: bold;
  background-color: #dddddd;
}

.input-group-prepend {
  background-color: #dddddd;
}

.btn-success {
  background-color: #47763c;
  border: 0;
}

.jumbotron-extend {
  background-image: image-url('top_image.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  min-height: 300px;
  color: white;
  position: relative;
  overflow: hidden;
}

.jumbotron-container {
  position: relative;
  top: 20%;
  left: 5%;
  transform: translateY(-50%);
}

.top_quote {
  position: absolute;
  bottom: 100px;
  right: 50px;
  font-style: italic;
}

.btn-info {
  border: 0;
  width: 140px;
}

.sp_br {
  display: none;
}

.btn-info:first-child {
  background-color: #47763c;
}

.btn-info:nth-child(2) {
  background-color: #00a0dc;
}

.btn-info:last-child {
  background-color: #f5a500;
}

.top-outline {
  position: relative;
  color: #158b2b;
  font-size: 50px;
  padding: 10px 0;
}

.top-outline:before {
  content: "";
  position: absolute;
  top: -11px;
  left: 50%;
  width: 280px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #a6ddb0;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.top-outline-sentence {
  background:linear-gradient(transparent 80%, #94c674 0%);
}

.card-header {
  background-color: #47763c;
}

.instruction_title {
  background:linear-gradient(transparent 80%, #94c674 0%);
}

.mypage-introduction {
  word-break: break-word;
}

.post-form {
  background-image: image-url('post_image.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: scroll;
  min-height: 300px;
}

.post-book-title {
  color: #0066CC;
}

.page-title {
  padding: 0.5em;
  color: #494949;
  background: #F7FFF4;
  border-left: solid 5px #47763c;
  font-weight: bold;
}

.book-note {
  word-break: break-word;
}

.quit-confirm {
  background-color: #dddddd;
}

.quit-confirm-btn {
  background-color: #dddddd;
}

.fotter-text {
  background-color: #dddddd;
}

#error_explanation {
  border: 2px solid red;
}

#error_explanation > ul > li {
  list-style-type: disc;
}

#error_explanation h2 {
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin-bottom: 10px;
  background-color: #c00;
  color: #fff;
}

.alert {
  white-space: pre-wrap;
  color: red;
  display: flex;
  padding: 0;
  margin-left: 140px;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 30px;
}

.pagination>li>a:hover {
  border-radius: 30px;
}

.fa-circle {
  position: absolute;
  padding-left: 8px;
  padding-bottom: 4px;
  font-size: 0.8em;
  color: gold;
}

.book-index-head {
  background-color: #EBFFE5;
}

@media screen and (max-width : 768px){
	.top_quote {
	  font-size: 12px;
    position: absolute;
    bottom: 100px;
    right: 5px;
  }

  #navbarNavDropdown li {
    text-align: center;
  }
}

@media screen and (max-width : 480px){
	.display-1 {
		font-size: 60px;
	}

	.lead {
	  font-size: 15px;
	}

	.top_quote {
	  font-size: 12px;
    position: absolute;
    bottom: 100px;
    right: 5px;
  }

  .sp_br {
    display: inline-block;
  }

  .top-outline {
    font-size: 33px;
  }

  .top-outline:before {
    top: -9px;
    width: 230px;
    height: 80px;
  }

  #error_explanation {
    border: 2px solid red;
    font-size: 10px;
  }

  .alert {
  margin: 0;
  font-size: 10px;
}

  .pb-index-image {
  width: 90px;
  height: 60px;
}

  .pb-comment-image {
  width: 80px;
  height: 50px;
}

  .book-index {
  font-size: 10px;
}

  .folow-index {
  font-size: 10px;
}

  .notification {
  font-size: 10px;
}

  .notification-picture {
  width: 50px;
  height: 35px;
  }

  .admin-user {
   font-size: 10px;
  }

  .admin-user-pic {
    width: 40px;
    height: 30px;
  }

  .admin-contact {
    font-size: 10px;
  }

  .contact {
    font-size: 11px;
  }

  .post-book-show-author {
    font-size: 20px;
  }

  .post-book-show-title {
    font-size: 20px;
  }

  .post-book-user {
    width: 30px;
    height: 20px;
    display: flex;
    text-align: left;
  }

  .post-book-user-nickname {
    font-size: 5px;
    text-align: left;
  }

}

@media screen and (max-width : 375px){
	.top-merit-pic {
	  width: 240px;
	  height: 200px;
	}
	.top-how-pic {
	  width: 240px;
	  height: 160px;
	}
}