/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


* {
  font-family: 'Nanum Myeongjo', serif;
}

a {
  color: #0066c0;
}

li {
  list-style: none;
}

.logo_name {
  font-family: 'Pacifico', cursive;
}

.login-msg {
  font-style: italic;
}

.card-header-register {
  font-weight: bold;
  background-color: #dddddd;
}

.input-group-prepend {
  background-color: #dddddd;
}

.btn-success {
  background-color: #47763c;
  border: 0;
}

.jumbotron-extend {
  background-image: image-url('top_image.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  min-height: 300px;
  color: white;
  position: relative;
  overflow: hidden;
}

.jumbotron-container {
  position: relative;
  top: 20%;
  left: 5%;
  transform: translateY(-50%);
}

.top_quote {
  position: absolute;
  bottom: 100px;
  right: 50px;
  font-style: italic;
}

.card-header {
  background-color: #47763c;
}

.instruction_title {
  color: #47763c;
}

.introduction {
  word-break: break-word;
}

.quit-confirm {
  background-color: #dddddd;
}

.quit-confirm-btn {
  background-color: #dddddd;
}

.fotter-text {
  background-color: #dddddd;
}

@media screen and (max-width : 480px){
	.display-1 {
		font-size: 60px;
	}

	.lead {
	  font-size: 15px;
	}

	.top_quote {
	  font-size: 12px;
    position: absolute;
    bottom: 100px;
    right: 5px;
  }
}

